# Node
**/node_modules/
**/.next/
package-lock.json

# Logs
npm-debug.log*

# Env
.env
.env.*.local

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Supabase CLI
infra/.supabase/
supabase/config.toml
